Python 3.7.12
CUDA Version: 11.2 

conda activate milk_LightGCN_Pytorch
cd milk/
cd ETL-master-master/

-->on Movie & Book dataset:
CUDA_VISIBLE_DEVICES=1 python main_my.py --dataset amazon --reg 5.0
-->on Movie & Music dataset:
CUDA_VISIBLE_DEVICES=1 python main_my.py --dataset amazon2 --reg 0.5
-->on Music & Book dataset:
CUDA_VISIBLE_DEVICES=1 python main_my.py --dataset amazon3 --reg 1.0

# packages in environment at /home/temp_user/.conda/envs/milk_LightGCN_Pytorch:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex             4.5                       2_gnu    conda-forge
blas                      1.0                         mkl    defaults
bottleneck                1.3.5            py37h7deecbd_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
brotli                    1.0.9                h5eee18b_7    defaults
brotli-bin                1.0.9                h5eee18b_7    defaults
bzip2                     1.0.8                h7b6447c_0    defaults
ca-certificates           2023.08.22           h06a4308_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
cuda-cudart               11.7.99                       0    nvidia
cuda-cupti                11.7.101                      0    nvidia
cuda-libraries            11.7.1                        0    nvidia
cuda-nvrtc                11.7.99                       0    nvidia
cuda-nvtx                 11.7.91                       0    nvidia
cuda-runtime              11.7.1                        0    nvidia
cudatoolkit               11.3.1               ha36c431_9    nvidia
cycler                    0.11.0             pyhd3eb1b0_0    defaults
cyrus-sasl                2.1.28               h52b45da_1    defaults
dbus                      1.13.18              hb2f20db_0    defaults
decorator                 5.1.1              pyhd3eb1b0_0    defaults
expat                     2.5.0                h6a678d5_0    defaults
ffmpeg                    4.3                  hf484d3e_0    pytorch
fftw                      3.3.9                h27cfd23_1    defaults
fontconfig                2.14.1               h52c9d5c_1    defaults
fonttools                 4.25.0             pyhd3eb1b0_0    defaults
freetype                  2.12.1               h4a9f257_0    defaults
giflib                    5.2.1                h5eee18b_3    defaults
glib                      2.69.1               he621ea3_2    defaults
gmp                       6.2.1                h295c915_3    defaults
gnutls                    3.6.15               he1e5248_0    defaults
gst-plugins-base          1.14.1               h6a678d5_1    defaults
gstreamer                 1.14.1               h5eee18b_1    defaults
icu                       58.2                 he6710b0_3    defaults
intel-openmp              2021.4.0          h06a4308_3561    defaults
joblib                    1.3.2              pyhd8ed1ab_0    conda-forge
jpeg                      9e                   h5eee18b_1    defaults
kiwisolver                1.4.4            py37h6a678d5_0    defaults
krb5                      1.20.1               h143b758_1    defaults
lame                      3.100                h7b6447c_0    defaults
lcms2                     2.12                 h3be6417_0    defaults
ld_impl_linux-64          2.40                 h41732ed_0    conda-forge
lerc                      3.0                  h295c915_0    defaults
libbrotlicommon           1.0.9                h5eee18b_7    defaults
libbrotlidec              1.0.9                h5eee18b_7    defaults
libbrotlienc              1.0.9                h5eee18b_7    defaults
libclang                  14.0.6          default_hc6dbbc7_1    defaults
libclang13                14.0.6          default_he11475f_1    defaults
libcublas                 11.10.3.66                    0    nvidia
libcufft                  10.7.2.124           h4fbf590_0    nvidia
libcufile                 1.7.2.10                      0    nvidia
libcups                   2.4.2                h2d74bed_1    defaults
libcurand                 10.3.3.141                    0    nvidia
libcusolver               11.4.0.1                      0    nvidia
libcusparse               11.7.4.91                     0    nvidia
libdeflate                1.8                  h7f8727e_5    defaults
libedit                   3.1.20221030         h5eee18b_0    defaults
libevent                  2.1.12               hdbd6064_1    defaults
libffi                    3.4.2                h7f98852_5    conda-forge
libgcc-ng                 13.2.0               h807b86a_1    conda-forge
libgfortran-ng            13.2.0               h69a702a_1    conda-forge
libgfortran5              13.2.0               ha4646dd_1    conda-forge
libgomp                   13.2.0               h807b86a_1    conda-forge
libiconv                  1.16                 h7f8727e_2    defaults
libidn2                   2.3.4                h5eee18b_0    defaults
libllvm14                 14.0.6               hdb19cb5_3    defaults
libnpp                    11.7.4.75                     0    nvidia
libnsl                    2.0.0                h7f98852_0    conda-forge
libnvjpeg                 11.8.0.2                      0    nvidia
libopenblas               0.3.24          pthreads_h413a1c8_0    conda-forge
libpng                    1.6.39               h5eee18b_0    defaults
libpq                     12.15                hdbd6064_1    defaults
libprotobuf               3.15.8               h780b84a_1    conda-forge
libsqlite                 3.43.0               h2797004_0    conda-forge
libstdcxx-ng              13.2.0               h7e041cc_1    conda-forge
libtasn1                  4.19.0               h5eee18b_0    defaults
libtiff                   4.4.0                hecacb30_2    defaults
libunistring              0.9.10               h27cfd23_0    defaults
libuuid                   1.41.5               h5eee18b_0    defaults
libuv                     1.44.2               h5eee18b_0    defaults
libwebp                   1.2.4                h11a3e52_1    defaults
libwebp-base              1.2.4                h5eee18b_1    defaults
libxcb                    1.15                 h7f8727e_0    defaults
libxkbcommon              1.0.1                hfa300c1_0    defaults
libxml2                   2.9.14               h74e7548_0    defaults
libxslt                   1.1.35               h4e12654_0    defaults
libzlib                   1.2.13               hd590300_5    conda-forge
lz4-c                     1.9.4                h6a678d5_0    defaults
matplotlib                3.5.3            py37h06a4308_0    defaults
matplotlib-base           3.5.3            py37hf590b9c_0    defaults
mkl                       2021.4.0           h06a4308_640    defaults
mkl-service               2.4.0            py37h7f8727e_0    defaults
mkl_fft                   1.3.1            py37hd3c417c_0    defaults
mkl_random                1.2.2            py37h51133e4_0    defaults
munkres                   1.1.4                      py_0    defaults
mysql                     5.7.24               h721c034_2    defaults
ncurses                   6.4                  hcb278e6_0    conda-forge
nettle                    3.7.3                hbbd107a_1    defaults
networkx                  2.2                      py37_1    defaults
numpy                     1.21.5           py37h6c91a56_3    defaults
numpy-base                1.21.5           py37ha15fc14_3    defaults
openh264                  2.1.1                h4ff587b_0    defaults
openssl                   3.0.11               h7f8727e_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
packaging                 22.0             py37h06a4308_0    defaults
pandas                    0.24.2           py37hb3f55d8_1    conda-forge
pcre                      8.45                 h295c915_0    defaults
pillow                    9.4.0            py37h6a678d5_0    defaults
pip                       23.2.1             pyhd8ed1ab_0    conda-forge
ply                       3.11                     py37_0    defaults
protobuf                  3.15.8           py37hcd2ae1e_0    conda-forge
pyparsing                 3.0.9            py37h06a4308_0    defaults
pyqt                      5.15.7           py37h6a678d5_1    defaults
pyqt5-sip                 12.11.0          py37h6a678d5_1    defaults
python                    3.7.12          hf930737_100_cpython    conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python_abi                3.7                     3_cp37m    conda-forge
pytorch                   1.10.2          py3.7_cuda11.3_cudnn8.2.0_0    pytorch
pytorch-cuda              11.7                 h778d358_5    pytorch
pytorch-mutex             1.0                        cuda    pytorch
pytz                      2023.3.post1       pyhd8ed1ab_0    conda-forge
qt-main                   5.15.2               h7358343_9    defaults
qt-webengine              5.15.9               hd2b0992_4    defaults
qtwebkit                  5.212                h4eab89a_4    defaults
readline                  8.2                  h8228510_1    conda-forge
scikit-learn              0.23.2           py37h0573a6f_0    defaults
scipy                     1.7.3            py37h6c91a56_2    defaults
setuptools                59.8.0           py37h89c1867_1    conda-forge
sip                       6.6.2            py37h6a678d5_0    defaults
six                       1.16.0             pyh6c4a22f_0    conda-forge
sqlite                    3.43.0               h2c6b66d_0    conda-forge
tensorboardx              2.2                pyhd3eb1b0_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
threadpoolctl             2.2.0              pyh0d69192_0    https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
tk                        8.6.12               h27826a3_0    conda-forge
toml                      0.10.2             pyhd3eb1b0_0    defaults
torchaudio                0.10.2               py37_cu113    pytorch
torchvision               0.11.3               py37_cu113    pytorch
tornado                   6.2              py37h5eee18b_0    defaults
tqdm                      4.48.2             pyh9f0ad1d_0    conda-forge
typing_extensions         4.3.0            py37h06a4308_0    defaults
wheel                     0.41.2             pyhd8ed1ab_0    conda-forge
xz                        5.2.6                h166bdaf_0    conda-forge
zlib                      1.2.13               hd590300_5    conda-forge
zstd                      1.5.2                ha4553b6_0    defaults
